@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --dark-green: #025959;
  --medium-green: #6cc5c6;
  --light-green: #9ed6d7;
  --lighter-green: #def0ee;
  --hightlight: #d1645d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: var(--lighter-green);
  background-color: var(--dark-green);
}
